* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 80vh;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

input {
    display:none;
}

h1 {
  margin: 20px;
}

.p1 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: right;
  color: red
}

.header {
    border: 2px solid;
    margin: 30px 30px;
    padding: 10px 30px;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  display: grid;
  /*height: 350px;
  width: 450px;*/
}


.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
  grid-column: 1;
  grid-row: 1/2;

}

.figure-part {
  display: none;
}

.wrong-letters-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  grid-row: 2;
  grid-column: 2;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  grid-row: 1;
  grid-column: 2;
}

.letter {
  border: 3px solid #045863;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 50px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #045863;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #315454;
  border: 1;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification {
  border-color: orange;
  border: 2px solid orange;
  padding: 15px 20px;
  position: absolute;
  margin: auto;
  text-align: center;
  width: 50%;
  height: 50px;
  bottom: -50px;
  left: 25%;
  transition: transform 0.3s ease-in-out;
  overflow:hidden;
}

.notification p {
  margin: auto;
}

.notification.show {
  transform: translateY(-50px);
}


@media only screen and (max-width: 768px) {

  input {
    display: unset;
    width: 60vw;
    margin: 0 20vw;
    box-sizing: border-box;
  }

  .body {
    width: 100%;
  }

  .game-container {
    width: 100%;
  }

  .figure-container {
    grid-column: 1;
    grid-row: 1/2;
  }

  .wrong-letters-container{
    padding: 2vh;
    grid-column: 1;
    grid-row: 4;
  }

  .word {
    margin: 2vh;
    grid-column: 1;
    grid-row: 3;
  }

  .notification {
    visibility: hidden;
  }

  .notification.show {
    visibility: visible;
    display: block;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-50px);
  }


}